body {
    text-align: center;
    background-image: url("https://images.pexels.com/photos/39279/ship-traffic-jams-rope-dew-cordage-39279.jpeg");
}

h1, h2 {
    color: antiquewhite;
    text-align: center;
    text-shadow: 2px 2px 8px rgb(102, 61, 22);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    margin-top: -20px;
    font-size: 95px;
}

h2 {
    margin-top: 140px;
    font-size: 60px;
}

.play-now {
    font-size: 50px;
    padding: 15px;
    border: rgb(102, 61, 22);
    border-radius: 10px;
    background-color: antiquewhite;
    color: rgb(102, 61, 22);
    text-decoration: none;
}

.game-page {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 100px;
}

.game-header {
    margin-top: 40px;
}

#game-board {
    display: grid;
    height: 540px;
    width: 540px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border: solid 5px rgb(102, 61, 22);
    background-color: antiquewhite;
    margin-left: 50px;
}

.grid-item {
    display: grid;
    height: 100px;
    width: 100px;
    margin: 2px;
    border: solid 2px rgb(102, 61, 22);
    color:rgb(102, 61, 22);
    font-size: 80px;
    text-align: center;
}

.right-side {
    display: grid;
}

#replay {
    font-size: 25px;
    padding: 10px;
    border: 1px solid rgb(102, 61, 22);
    border-radius: 10px;
    background-color: antiquewhite;
    color: rgb(102, 61, 22);
    text-decoration: none;
}

.score {
    color: antiquewhite;
    text-align: center;
    text-shadow: 4px 4px 10px rgb(102, 61, 22);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
    margin-bottom: 5px;
    margin-top: -50px;
    
}

#scoreboard {
    margin-top: 1px;
}

.input {
    margin-top: 20px;
    height: 40px;
    background-color: antiquewhite;
    color: rgb(102, 61, 22);
    border: 1px solid rgb(102, 61, 22);
    border-radius: 8px;
    padding: 10px;
}

#guess {
    width: 320px;
    height: 30px;
}

.letters-in-play {
    color: rgb(102, 61, 22);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: 10px;
    inline-size: 400px;
    overflow-wrap: break-word;
    padding: 5px;
    background-color: antiquewhite;
    border: 1px solid rgb(102, 61, 22);
    border-radius: 5px;
}